body {
    font-family: sans-serif;
    background-color: #444a4b;
}

body h1 {
    text-align: center;
}

a, p, label, h1, div {
    color: #dddddd;
}

#locationInput,
#mapsDiv,
#calculateDiv {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#mapsDiv {
    height: 70%;
    width: 80%;
}

#locationInput input {
    width: 40%;
}

#mapsDiv iframe{
    height: 100%;
    width: 100%;
    min-height: 500px;
}